body {
    text-align: center;
}
form {
    display: inline-block;
    padding-top: 40px;
}
input{
font-size : 15px;
border-radius: 5px;
border: 1px solid #A9A9A9;
padding: 20px;
width: 400px;
height: 10px;
text-align:center;
}
button{
    padding:5px 50px;
    background-color:#418D84;
    border-radius: 5px;
    cursor: pointer;
}
input[type=text]:focus, input[type=password]:focus {
    background-color: #ddd;
    outline: none;
}
.btn{
    padding-right:50px;
}
.input-icons i { 
    position: absolute; 
} 
  
.input-icons { 
    width: 100%; 
    margin-bottom: 10px; 
} 
  
.icon { 
    padding: 12px; 
    padding-right:30px;
    color: #418D84; 
    min-width: 50px; 
    text-align:center;
} 